 .experience-container {
            background-color: rgba(233, 242, 252, 0.815);
            height: 100%;
            width: 100%;
        }
        .head{
            font-size: 40px;
            font-weight: bold;
            color: cadetblue;
            padding: 40px 0;
            text-align: center;
        }
       
        .exp_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 20px;
            margin-left: 20px;
        }
        .exp_header div{
            font-weight: bold;
            color: rgb(77, 149, 151);
        }

        .exp-box {
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
            background-color: white;
            width: 560px;
            margin-bottom: 10px;
            padding: 30px 20px;
            height: 300px;
            align-items: center;
            line-height: 20px;
            border-left: 3px solid cadetblue;
            border-right: 3px solid cadetblue;
            margin-bottom: 40px;
            text-align: left;
        }
        .exp_text{
            color: rgb(87, 87, 87);
        }

         .exp-header-container {
           text-align: center;
        } 